<div class="content-wrapper oh">

  <!-- Hero -->
  <section class="hero bg-img bg-gradient white-text" style="background-image: url(img/avantecture-0Vdrg5pR7NY-unsplash.jpg);">

    <div class="container  hero__container container-full-height">

      <div class="row hero__outer align-items-center">
        <div class="col-lg-5">
          <h1 class="hero__title hero--boxed">We make it simple to help real estate agents and developers to launch their own personal website and connect with each other. Supplied with a simple to use feature to manage your team, properties, customers and appointments</h1>
          <div class="hero__btn-holder mt-30">
            <a href="#pricing" class="btn btn--lg btn--color rounded"><span>Buy Now</span></a>            
          </div>                  
        </div>
        <div class="col-lg-7 text-right d-none d-lg-block">
          <img src="img/agent-landing-page.jpg" class="mt-100" alt="">
        </div>
      </div>              
      
    </div>
  </section> <!-- end hero -->
  <!-- Intro -->
  <section class="section-wrap bottom-divider" id="about-us">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <span class="intro__subtitle uppercase">About Us</span>
                  <h2 class="intro__title">
                      Inspitium Technology Company was established in 1st May 2019, Kuching, Sarawak. Estates lookout platform was created to connect real estate developers and real estates agents in one system while having their own unique website. Our mission is to provide the best services and cost saving platform for real estate developer and real estate agent nationwide. Our vision is to keep growing with our customer, cater their needs of real estate developers and agents in this industry.
                  </h2>
              </div>
          </div>
      </div>
  </section> <!-- end intro -->

  <!-- Promo Section -->
  <section class="section-wrap promo-section bottom-divider pb-100" id="feature-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-md-40">
            <div class="owl-carousel owl-theme" id="landing-page">
                <div class="item">
                    <img src="./img/ui-dashboard-deploy-simple.png" alt="" data-caption="Use our simple UI to manage your platforms.">
                </div>
                <div class="item">
                    <img src="./img/depositphotos_281304454-stock-illustration-web-ui-ux-application-@root.data.jpg" alt="" data-caption="Get your property set up in a few easy steps.">
                </div>
                <div class="item">
                    <img src="./img/77b2e134-9ad8-4da4-b156-31fc7c23c35a.png" alt="" data-caption="Get notifications for almost everything, right at your fingertips.">
                </div>
            </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="promo-section__description">
            <h2 class="promo-section__title">Your Landing Page, Standardised.</h2>
            <p class="lead">Your landing page is designed to fit all your needs, and will always be colour customizable based on your preferences.</p>
          </div>
        </div>
      </div>
    </div> 
  </section> <!-- end promo section -->

  <!-- Promo Section -->
  <section class="section-wrap promo-section bottom-divider pb-100" id="feature-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 mb-md-40">
          <div class="promo-section__description">
            <h2 class="promo-section__title">Your CMS, Simplified.</h2>
            <p class="lead">Your CMS is designed for simplicity in navigation. We have added notes for guidance to go through some areas in the CMS.</p>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-1">
            <div class="owl-carousel owl-theme" id="landing-page">
                <div class="item">
                    <img src="./img/ui-dashboard-deploy-simple.png" alt="" data-caption="Use our simple UI to manage your platforms.">
                </div>
                <div class="item">
                    <img src="./img/depositphotos_281304454-stock-illustration-web-ui-ux-application-@root.data.jpg" alt="" data-caption="Get your property set up in a few easy steps.">
                </div>
                <div class="item">
                    <img src="./img/77b2e134-9ad8-4da4-b156-31fc7c23c35a.png" alt="" data-caption="Get notifications for almost everything, right at your fingertips.">
                </div>
            </div>
        </div>
      </div>
    </div>
  </section> <!-- end promo section -->


  <!-- Feature -->
  <section class="section-wrap bottom-divider" id="benefits">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <span class="intro__subtitle uppercase">Benefits of Estates Lookout</span>
          <h2 class="intro__title">
            With this platform it allow real estate developer and agent to have their own personal unique website without sharing space with other user setting themselves apart from competition. With our system, developer and agent are able to communicate with each other. Developer are able to assign listing to their agents, at the same time agents can upload their own listing. By having your own website you are able to create own online branding, as your website is a direct reflection of your authority, goals and services. You can build trust from there by your services and helping your customer. Internet makes it easier for potential clients to find you and your listing. Clients are able to get in touch with you and the information you provide at anytime and anywhere about yourself.
          </h2>
        </div>

      </div>
    </div>
  </section> <!-- end feature -->

  <section class="page-title bottom-divider text-center" id="pricing">
    <div class="container">

      <div class="page-title__holder">
        <div class="page-title__inner">
          <div class="page-title__holder">
            <h1 class="page-title__title">Pricing Plans</h1>
            <p class="page-title__subtitle lead">Here you can select one of the packages, Agent Package or Developer Package. Choose from these two based on your needs!</p>
          </div>
        </div>
      </div>          
      
    </div>
  </section> <!-- end page title -->

  <!-- Pricing Tables -->
  <section class="pt-70 bg-light bottom-divider">
    <div class="container">

      <div class="row">
    
        <div class="col-sm-12 col-md-6">
          <div class="pricing">                
          <div class="pricing__price-box">
            <h3 class="page-title__title"><strong>Agent</strong></h3>
            <span class="pricing__currency">RM</span>
            <span class="pricing__price" data-year-price="2000" data-month-price="2000">2000</span>
            <div class="pricing__title" style="font-size: 17px;">Non-refundable</div>
          </div>
          <p class="pricing__text">
              A package for single agents who want to accept company listings or host own listings.
          </p>
          <div class="pricing__button">
            <a href="/checkout/agent-my" class="btn btn--lg btn--color rounded"><span>Get Started</span></a>
          </div>
          <div class="pricing__features">
            <ul>
                <li>Single Agent Platform</li>
                <li>Personal website</li>
                <li>Unlimited listing</li>
                <li>Basic listing or details listing</li>
                <li>Unlimited storage space</li>
                <li>Connect with developer</li>
                <li>Receive listing from developer</li>
                <li>Customizable platform colour theme</li>
                <li>Change sub-domain anytime</li>
            </ul>
          </div>
        </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="pricing">                
          <div class="pricing__price-box">
            <h3 class="page-title__title"><strong>Developer</strong></h3>
            <span class="pricing__currency">RM</span>
            <span class="pricing__price" data-year-price="3500" data-month-price="3500">3500</span>
            <div class="pricing__title" style="font-size: 17px;">Non-refundable</div>
          </div>
          <p class="pricing__text">
              A package for developers or group leaders who want to create their own listing as an individual and assign listings to other agents.
          </p>
          <div class="pricing__button">
            <a href="/checkout/developer-my" class="btn btn--lg btn--color rounded"><span>Get Started</span></a>
          </div>
          <div class="pricing__features">
            <ul>
                <li>Single company admin account</li>
                <li>Personal website</li>
                <li>Unlimited listing</li>
                <li>Basic listing and detailed listing</li>
                <li>Unlimited storage space</li>
                <li>Connect with agents</li>
                <li>Assign listing to agent Unlimited</li>
                <li>Customizable platform colour themes</li>
                <li>Change sub-domain anytime</li>
                <li>Daily report of unit listing status changes from agents</li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section> <!-- end pricing tables -->

</div> <!-- end content wrapper -->