<style>
    @media only screen and (min-width: 992px) {
        .nav--transparent {
            background-color: #3b5998 !important;
        }
    }
</style>

<div class="content-wrapper oh">
    <section class="section-wrap bottom-divider">
        <div class="container">
            <h2 class="page__title text-center mb-5">Log In</h2>     
            <form method="POST" action="/login">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" name="keepSignedIn" class="form-check-input" id="keepSignedIn">
                    <label class="form-check-label" for="keepSignedIn">Keep me signed in</label>
                </div>
                <button type="submit" class="btn btn--x-large btn--color mt-3 mb-3">Submit</button>
            </form>
        </div>
    </section>
</div>