<section class="section">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.location.href = "{{root_url "login"}}";
        });
    </script>
</section>