<section id="user-settings-edit">
    <form action="/cms/user-settings/user-edit-password" method="post">
        <div class="row">
            <div class="col s12 m3">
                <span class="default-size-paragraph emboldened">Old Password</span>
            </div>
            <div class="col s12 m9">
                <input class="validate" name="password[current]" placeholder="Please enter your old password" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3">
                <span class="default-size-paragraph emboldened">New Password</span>
            </div>
            <div class="col s12 m9">
                <input class="validate" name="password[value]" placeholder="Please enter your new password" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3">
                <span class="default-size-paragraph emboldened">Confirm New Password</span>
            </div>
            <div class="col s12 m9">
                <input class="validate" name="password[confirm]" placeholder="Please confirm your new password" type="password">
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn-large main-color">Edit Password</button>
        </div>
    </form>
</section>