{{#> cms/components/modal modalId="popup" modalStyle="width: 50%; height: 50%;"}}
    <p id="help-message" class="center-align"></p>
    <p class="center-align">
        <button class="btn-large action-btn modal-close">OK</button>
    </p>
{{/ cms/components/modal}}