<div class="modal modal-fixed-header {{modalClass}}" id="{{modalId}}" style="{{modalStyle}}">
    <div class="modal-header fixed main-color-text">
        <a href="javascript:void(0)" class="modal-close right shift-right btn-flat waves-effect flow-text"><i class="material-icons left">close</i>Close</a>
    </div>
    <div class="modal-content">
        {{> @partial-block}}
    </div>
</div>